dtconfig.txt_old
jnc47888_live_dynatrace_com/*
agd*/*
dtconfig.txt
dtconfig.json
smplmonspec.json
smplpipelineinfo.json
tmpfiles/*
dtconfig_jnc.json
dqlreport_jirabusiness.html
images/dtcli-images.pptx
